@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.text-black{
    color: black;
}

.text-grey{
    color: #7f7f7f;
}

.text-blue{
    color: #0277bd;
}

/* Navbar */

.navbar{
    z-index: 1000;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#navbar-logo{
    width: 40px;
    margin-top: -20px !important;
}

.logo-list{
    list-style-type: none;
    padding: 0px !important;
}

.logo-list > li{
    padding: 0px !important;
    margin: 0px !important;
    line-height: 20px !important;
}

.nav-link{
    color: black;
}

/* Hero */
#hero{
    height: 90vh;
    background-image: url(../img/hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-content{
    z-index: 100;
}

.hero-content > h1{
    font-size: 48px;
}

/* About */
#about{
    background-color: #f1f1f1;
    padding-bottom: 80px;
}

#about-pic{
    background-image: url(../img/pexels-photo-1543924.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Services */
#services{
    padding-bottom: 80px;
}

.service-block{
    border: 1px solid lightgray;
    padding: 60px 0px;
}

.service-block > .fas{
    font-size: 48px;
    color: #0277bd;
}

.service-block:hover{
    color: white;
    border: 1px solid #0277bd;
    background-color: #0277bd;
}

.service-block:hover > .fas{
    color: white;
}

/* Identity */
#identity{
    background-color: #f1f1f1;
    padding-bottom: 80px;
}

.profile{
    width: 150px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.profile-block > a > .fas{
    margin: 0px 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 50%;
} 

.profile-block > a > .fas:hover{
    background-color: black;
}

/* Catalogue */
.carousel-item > div > .col-md-5 > h2{
    padding: 20px 0px 10px;
}

.carousel-item > div > .col-md-5 > p{
    padding-right: 20px;
}

.carousel-control-next{
   padding-left: 100px;
}

.carousel-control-prev{
    padding-right: 100px;
 }

 .features-list{
     padding-left: unset !important;
     padding-left: 20px !important;
 }

/* Contact */
form{
    padding: 40px;
    background-color: #f1f1f1;
}

/* Footer */
#footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px 10px 0px;
}

/* All */
#about > h1,
#services  > h1,
#identity > h1,
#catalogue > h1,
#contact > h1{
    padding-top: 80px !important;
}
